name: Docker Deploy

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login Docker
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build image
        run: docker build -t myapp .

      - name: Run container
        run: docker run -d -p 3000:3000 myapp
